a {
    color: #fff;
    text-decoration: none;
}

* {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #00B6EF;
    color: #fff;
    font-family: Helvetica;
}

.header_section {
    display: flex;
    align-items: center;
}

.header_item {
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;
}

.header_item:hover {
    background-color: #D7DBDD;
    border-radius: 4px;
}

.headerlogo {
    font-weight: bold;
}

.headerButton {
    cursor: pointer;
}



/*SideBar*/

.sideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 630px;
    width: 150px;
    border-right: 1px solid #D7DBDD;
    background-color: #FCFDFD;
    padding: 10px;
}


.sideBar a {
    color: #00B6EF;
}

.sideBar_item {
    cursor: pointer;
    padding: 8px 10px;
    font-size: 18px;
}

.sideBar_item:hover {
    background-color: #EEF3F5;
    border-radius: 4px;
}


/*slider*/

main {
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: #333;
    height: 2000px;
    font-family: Helvetica;
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}

.wrap {
    display: flex;
    align-items: stretch;
    width: 90%;
    margin: auto;
    flex-direction: column;
}

button {
    width: 30px;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 30px;
    text-align: center;
    outline: none;
    opacity: 0.5;
    transition: opacity 300ms ease-out;
}

button:hover {
    opacity: 1;
}

.slider {
    display: flex;
    flex-direction: row;
}

.scroller {
    flex: 1;
    overflow: hidden;
}

.items {
    list-style-type: none;
    white-space: nowrap;
    transition: transform 1s ease-in-out;
}

.item {
    padding: 30px 20px;
    display: inline-block;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

}


/*galery*/


.gallery {
    padding: .5vw;
    font-size: 0;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: row wrap;
    display: flex;
}

.gallery div {
    flex: auto;
    width: 237px;
    min-width: 5vw;
}

.gallery div img {
    width: 100%;
    height: auto;
}

.gallery:hover img {
    opacity: 0.3;
    transition: .4s opacity;
}

.gallery:hover img:hover {
    opacity: 1;
    transition: .4s opacity;
}

@media screen and ( max-width: 550px) {
    .gallery div {
        margin: 0;
    }

    .gallery {
        padding: 0;
    }
}



/*registration*/



